*{
    box-sizing: border-box;
}

body{
    margin: 0px;
}

.menu-container{
    height: 4rem;
    background-color: aqua;
    display:flex;
    align-items: center;
    gap:0.5rem;
    padding-left:0.5rem;
}

.menu-container>*{
    border: 1p solid;
    height: 60%;
}

.font-size{
    width: 5%;
}

.font-family{
    width:21%;
}
.bui-container{
    width:21%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bui-container>*{
    width:14%;
    height: 80%;
    text-align: center;

}

.align-container{
    width:14%;
}

.color-container{

}



